body{
    margin: 0;
    padding: 0;
    background: url(IMPACT/image16.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #D64309;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.forminput{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.forminput input{
    width: 100%;
    margin-bottom: 20px;
}


.forminput input[type="text"], input[type="username"]{
    border: none;
    border-bottom: 1px, solid, #fff;
    background: white;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    
}
.forminput input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px, solid, #fff;
    background: white;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    
}

.forminput input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: black;
    font-size: 18px;
    font-size: 16px;
}
