/*stylesheet.css */
@charset "utf-8";
h1 {
	font-size: 52px;
	font-family: 'Gotham';
	color: #D64309;
}
h2 {
	font-size: 32px;
	font-family: 'Gotham';
    color: #D64309;
}

h3 {
	font-family: 'Gotham';
	
}
h4 {
	font-family: Gotham;
	font-weight: bold;
}
p {
	font-family: Gotham;	
	}

.picture{
	
}

.topnav{
	background-color: #0033A0;
	float: top;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	font-family: Gotham;
}

.topnav h1{
    font-size: 52px;
	font-family: 'Gotham';
	color: #D64309;
}

.topnav a{
	color: #D64309;
	padding-right: 50px;
	font-family: Gotham;
	
}

.topnav a:hover{
	color:white;
}

.topnav p {
    
    color: #D64309;
    background-color: white
	float: right;
	font-family: Gotham;
}

body {
	background: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.picgrid{
	/*display:grid;
	width: 50%;
	float: left;*/
	grid-column: 1 / 3;
 	 grid-row: 1 / 2;
	
}

.two {
	box-shadow: 0 10px 20px rgba(0,0,0,0.23);
	border-radius: 5px;
	padding-top: 0px;
	grid-column: 3;
 	grid-row: 1;
	
}
.bTitle {
	text-align: center;
	font-size: 78px;
	color: black;
	float:top;
}

.intro{
	font-size: 24px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

.bioPic {
	
	width: 18em;
	height:auto;
	/*border:thin #000000;
	border-radius: 100%;*/
	padding-bottom: 25px;
}

.imageResize {
	max-width:100%;
	height: auto;
}

a{
    text-decoration: none;
}

.main-wrapper{
    margin: 0 auto;
    width: 1000px;

}



div {
  margin-bottom:10px;
}

body{
    margin: 0;
    padding: 0;
    background: url(IMPACT/image16.jpg);
    background-size: cover;
    background-position: center;
}

.loginbox{
    width: 320px;
    height: 300px;
    background: #D64309;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -45%);
    box-sizing: border-box;
    padding: 20px 20px;
}

.loginbox h1{
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 28px;
}

.forminput{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.forminput input{
    width: 100%;
    margin-bottom: 20px;
}


.forminput input[type="text"], input[type="username"]{
    border: none;
    border-bottom: 1px, solid, #fff;
    background: white;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    
}
.forminput input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px, solid, #fff;
    background: white;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    
}

.forminput input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: black;
    font-size: 18px;
    font-size: 16px;
}



